<!-- corpo della pagina -->
<div id="center" class="p-2 md:p-12 md:pr-24 md:pl-24">
    <!-- risultato della ricerca -->
    <div id="search_result">
        <!-- home page -->
        <h1 class="p_title anchor" id="home_p">Home page</h1>
        <p class="p-2">
            Nonostante al giorno d'oggi il mondo dell’informatica sia il protagonista della quotidianità di ognuno di
            noi e siano
            sempre di più coloro che fanno largo uso dei social network, la conoscenza media in ambito informatico è
            abbastanza
            bassa e in pochi sanno come siano ideate, strutturate, programmate piattaforme come Facebook, Instagram o,
            per esempio,
            qualcosa di più semplice come un BOT Telegram.
        </p>
        <hr>

        <!-- #Tutto Merito Mio -->
        <h1 class="p_title anchor" id="TMM_p"><a href="https://www.tuttomeritomio.it/"><i
                    class="far fa-hand-point-right" id="TMM"></i></a> #TuttoMeritoMio</h1>
        <p class="p-2">
            Noi ragazzi della prima e seconda edizione di #TuttoMeritoMio, guidati da Sonia Montegiove, abbiamo
            affrontato un
            percorso che in questi ultimi mesi ci ha consentito di imparare le metodologie di progettazione e di
            programmazione
            informatica. Basandoci sui principi di project management e team working abbiamo realizzato insieme un BOT
            Telegram,
            dividendoci in quattro gruppi:

            - comunicazione: che si è occupata della presentazione del progetto, ne ha trovato un nome, un logo e ne ha
            definito
            un'identità;
            - database: che ha messo insieme i dati necessari al BOT, strutturandoli e suddividendoli in base a criteri
            di contenuto
            e formato;
            - programmazione: che ha lavorato sul vero e proprio funzionamento del BOT, scrivendone il codice;
            - traduzione: che si è occupato della scelte delle parole, di cui ha fornito un'esaustiva spiegazione, e ha
            lavorato per
            la loro traduzione in lingua inglese.
        </p>

        <hr>

        <!-- Cos'è un BOT? -->
        <h1 class="p_title anchor" id="BOT_p">Cos'é un BOT?</h1>
        <!-- video n1 -->
        <div class="rowVideo1">
            <p id="p1_video">
                I BOT, abbreviazione di "robot", non sono altro che che utenti artificiali di Telegram che consistono
                solo di alcune
                stringhe di codice, il cui scopo è quello di interagire con gli altri utenti, in chat singole ma anche
                di gruppo, per
                fornire servizi e funzionalità non previste dalla versione base dell'applicazione di messaggistica.

            </p>
            <video src="../../assets/video/2.mp4" class="video m-auto" autoplay controls></video>
        </div>

        <br>

        <!-- video n2 -->
        <div class="rowVideo2">
            <video src="../../assets/video/1.mp4" class="video m-auto" autoplay controls></video>
            <p id="p2_video" class="self-center">
                Non sono dotati di intelligenza artificiale, ma rispondono solo a specifiche istruzioni: sono programmi
                relativamente
                semplici e Telegram ne accoglie di nuovi ogni giorno.
                Sebbene non siano utenti reali, svolgono azioni e interagiscono proprio come un essere umano.
            </p>
            <hr>
        </div>
    </div>
</div>